{%extends "main/layout.html"%}
{%load static%}
<body>
{%block content%}

<div class="site7"><img src="{%static 'main/img/Снимок экрана 2024-12-11 в 17.15.12.png'%} "style="--clr:#00570e"></div>
<div class="site1"><img src="{%static 'main/img/Снимок экрана 2024-12-10 в 20.12.33.png'%} "style="--clr:#63dbff"></div>
<div class="site2"><img src="{%static 'main/img/Снимок экрана 2024-12-10 в 20.14.09.png'%} "style="--clr:#7d7d7d"></div>
<div class="site3"><img src="{%static 'main/img/Снимок экрана 2024-12-10 в 20.16.07.png'%} "style="--clr:#00570e"></div>
<div class="site4"><img src="{%static 'main/img/Снимок экрана 2024-12-10 в 20.30.05.png'%} "style="--clr:#63dbff"></div>
<div class="site5"><img src="{%static 'main/img/Снимок экрана 2024-12-10 в 20.30.21.png'%} "style="--clr:#7d7d7d"></div>
<div class="site6"><img src="{%static 'main/img/Снимок экрана 2024-12-10 в 20.30.32.png'%} "style="--clr:#00570e"></div>

<h1 class="portfolio2">Одна из первых моих работ,<br>
    которая представляет из себя <br>сайт с фильмами, <br>
    которые можно смотреть прямо на нем.<br>
    На этом сайте я впервые применил стиль,<br>
    но в нем нет навигации.<br>
    Ссылка на сайт:</h1>

<h1 class="portfolio">Примеры моих работ</h1>

{%endblock%}
</body>
</html>